# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# 虚拟环境
venv/
.venv/

# IDE
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db
*.swp
*.swo

# 编译产物
output/
*.exe
*.ilk
*.pdb
*.obj

# 视频文件 (你的私人文件)
*.mp4
*.avi
*.mov
*.mkv
*.wmv

# GIF 输出
*.gif

# MATLAB
*.m~
